@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300&display=swap');

body{
    background-image: url("img/religion-bg.png");
}

header {
    background-color: rgb(188, 144, 39);
    display: flex;
    flex-flow: column;
    align-items: center;
    width: auto;
}
header  h1{
    font-family: 'Ysabeau', sans-serif;
    font-size: 5em; 
}

header  h2{
    font-family: 'Ysabeau', sans-serif;
}

header nav{
    /*border: .1rem solid blue;*/
    display: flex;
    flex-flow: row;
    gap: 2rem;
    margin: 2rem 0;
}

main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* Credit: W3 Schools */
button {
    display: inline-block;
    background-color: rgb(168, 123, 19);
    font-family: 'Comme', sans-serif;
    padding: 20px;
    width: 200px;
    color: black;
    text-align: center;
    border: 4px double #cccccc;
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer;
    margin: 5px;
    -webkit-transition: all 0.5s; /* add this line, chrome, safari, etc */
    -moz-transition: all 0.5s; /* add this line, firefox */
    -o-transition: all 0.5s; /* add this line, opera */
    transition: all 0.5s; /* add this line */
  }
  button:hover {
    background-color: rgb(242, 182, 17);
    color: #ffffff;
  }

.quotes{
    color: rgb(255, 221, 0);
    font-weight: bold;
    font-size: 1.75em;
}

section{
    margin: 4rem 15rem 4rem 15rem;
}

#intro{
    margin: auto;
}

p{
    font-family: 'Comme', sans-serif;
    text-indent: 2rem;
    color: black;
    font-size: 1.25em;
    min-width: 20rem;
}

.card{
    /*border: .1rem solid red;*/
    background-color: white;
    border-radius: .5rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    
}

.container{
    /*border: .1rem solid blue;*/
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container  h1{
    font-family: 'Ysabeau', sans-serif;
}

.card  figure{
    /*border: .1rem solid blue;*/
    margin: 1rem 0 1rem 1rem;
}

.card .container{
    width: 20rem;
    margin: 0 1rem;
}

figure{
    width: 15rem;
}

figure > img{
    object-fit: fill;
    height: 100%;
    width: 100%;
    border-radius: .5rem; 
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
    main{
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {

} /* closes 1024px+ */


